.container{
    background-color: aqua;
    
   
    background-image: url(bg.jpg) ;


}
#clockContainer{
    position: relative;
    height: 40vw;
    /* it will take 40% of its width  */
    width: 40vw;
    background: url(clock\ .png) no-repeat;
    /* border: 2px solid red; */
    background-size: 100%;
    margin: auto;
}

#hour , #minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;

}

#hour {
    width: 1.9%;
    height: 24%;
    top: 26%;
    left: 49.0%;
    opacity: 0.8;
    transform-origin: bottom;
}
#minute{
    width: 1.5%;
    height: 29%;
    top: 22%;
    left: 49.1%;
    opacity: 0.8;
    transform-origin: bottom;

}
#second{
    width: 1%;
    height: 32%;
    top: 19%;
    left: 49.2%;
    opacity: 0.8;
    transform-origin: bottom;


}